@import '~src/theme.scss';

mat-card {
  height: fit-content;
  border-radius: 0.3rem;

  ::ng-deep mat-card-header:first-child {
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    margin: -16px -16px 0;
  }

  ::ng-deep img {
    transition: all 0.5s ease-out;
    width: 100%;
    margin: 0;

    &.avatar {
      background: white;
      border: solid 10px white;
      border-radius: 50%;
      height: 150px;
      width: 150px;
      margin: -6rem calc(50% - 75px) 0.25rem;
    }
  }

  ::ng-deep div.avatar {
    background: $primary;
    border: solid 10px white;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: -6rem calc(50% - 75px) 0.25rem;
    text-align: center;
    line-height: 140px;
    font-size: 75px;
    color: white;
  }

  ::ng-deep mat-expansion-panel {
    background: none;
    margin: 0 -16px -16px;

    border-top-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;

    ::ng-deep .mat-card-header-text {
      margin: 0px !important;
    }

    ::ng-deep .mat-expansion-panel-body {
      padding-bottom: 0;
    }
  }
}

mat-card-actions {
  margin: 5px 0;
  &:last-child {
    margin-bottom: 0;
  }
}
