@import '~src/theme.scss';

.splash {
  z-index: 100;

  position: fixed;
  min-height: 100vh;
  min-width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  background-color: $primary;
  transition: all 0.5s ease-in-out;
}

.spinner {
  opacity: 0;
  animation: fadein 0.3s ease-in 1s forwards;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
