@import '~src/theme.scss';

.title {
  margin-left: 15px;
}

.projects {
  margin: 10px;

  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: dense;
  align-items: center;

  @media (max-width: 1680px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1120px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

app-card {
  mat-card-header {
    height: 120px;
    background: $primary;
    padding: 4px;

    display: flex;
    justify-content: flex-end;

    * {
      height: fit-content;
    }

    a {
      color: $accent !important;
    }
  }
}
