<h2 class="title">Projects</h2>

<div class="projects">
  <app-card *ngFor="let project of projects | async">
    <mat-card-header>
      <a mat-icon-button href="{{ project.web_url }}">
        <fa-icon [icon]="['fas', 'code']" size="lg"></fa-icon>
      </a>
      <a *ngIf="project.link" mat-icon-button href="{{ project.link }}">
        <fa-icon [icon]="['fas', 'link']" size="lg"></fa-icon>
      </a>
    </mat-card-header>
    <img
      *ngIf="project.avatar_url"
      class="avatar"
      [src]="project.avatar_url"
      [alt]="project.name"
    />
    <div *ngIf="!project.avatar_url" class="avatar">
      {{ project.name[0] }}
    </div>
    <h3>{{ project.name }}</h3>
    <p>{{ project.description }}</p>
  </app-card>
</div>
