@import '~src/theme.scss';

.title {
  margin-left: 15px;
}

.projects {
  margin: 10px;

  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @media (max-width: 1280px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 1000px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}

app-card {
  mat-card-header {
    height: 120px;

    background: $primary;

    display: flex;
    justify-content: flex-end;

    * {
      height: fit-content;
    }

    a {
      color: $accent !important;

      fa-icon {
        margin-left: 10px;
      }
    }
  }
}
