:host {
  height: 100%;
  display: grid;
  grid-template:
    'bar' 64px
    'main' auto;

  @media (max-width: 599px) {
    grid-template:
      'bar' 56px
      'main' auto;
  }

  app-splash {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  app-bar {
    grid-area: bar;
  }
  mat-sidenav-container {
    grid-area: main;
  }
  app-footer {
    grid-area: footer;
  }
}
