:host {
  display: block;
}

.mat-chip.mat-standard-chip.mat-chip-selected {
  &.\.net {
    background-color: #6e409e;
  }

  &.agile {
    background-color: #20acf0;
  }

  &.akita {
    background-color: #c7764e;
  }

  &.angular {
    background-color: #dd032f;
  }

  &.c\# {
    background-color: #6a1577;
  }

  &.ci\/cd {
    background-color: #de7e27;
  }

  &.css3 {
    background-color: #1b73ba;
  }

  &.docker {
    background-color: #0d93d2;
  }

  &.firebase {
    background-color: #ffa715;
  }

  &.git {
    background-color: #fc8463;
  }

  &.github {
    background-color: #000000;
  }

  &.gitlab {
    background-color: #fc6d25;
  }

  &.graphql {
    background-color: #e535ab;
  }

  &.heroku {
    background-color: #413682;
  }

  &.html5 {
    background-color: #e45026;
  }

  &.java {
    background-color: #ea2d30;
  }

  &.kubernetes {
    background-color: #2e6de6;
  }

  &.nestjs {
    background-color: #e0244e;
  }

  &.nginx {
    background-color: #029238;
  }

  &.nrwl {
    background-color: #033056;
  }

  &.python {
    background-color: #2e9bfe;
  }

  &.react {
    background-color: #61dbfc;
  }

  &.redux {
    background-color: #7347b8;
  }

  &.scrum {
    background-color: #4995cc;
  }

  &.scss {
    background-color: #cf649b;
  }

  &.sql {
    background-color: #e7a11d;
  }

  &.space {
    background-color: #2e98e6;
  }

  &.typescript {
    background-color: #037acc;
  }

  &.vue {
    background-color: #3fb47f;
  }

  &.webstorm {
    background-color: #04c6d6;
  }
}
