:host {
  display: block;
}

.mat-card-avatar {
  height: 96px;
  width: 96px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  pointer-events: none;
  margin-right: 12px;
  display: none;

  @media (min-width: 400px) {
    display: block;
  }

  @media (min-width: 500px) {
    height: 150px;
    width: 150px;
    margin-right: 38px;
  }
}

.profile {
  padding: 32px 8px;
  place-content: stretch space-between;
  background: white;
  overflow-x: scroll;
  border-radius: 0.25rem;

  .left {
    padding: 16px 0;

    @media (min-width: 500px) {
      padding: 16px 32px;
    }
  }

  .right {
    padding: 16px 0;

    @media (min-width: 500px) {
      padding: 16px 32px;
    }

    @media (min-width: 960px) {
      border-left: 1px solid #e0e0e0;
    }
  }

  .identity {
    h2,
    h3,
    h4 {
      margin: 0;
    }

    h2.gutter-bottom,
    h3.gutter-bottom,
    h4.gutter-bottom {
      margin-bottom: 8px;
    }

    h2 {
      font-size: 28px;
      line-height: 28px;
    }

    h4 {
      font-size: 14px;
      line-height: 14px;
      color: #666666;
    }
    mat-icon {
      font-size: 18px;
      line-height: 18px;
      height: 18px;
      width: 18px;
    }
  }

  .buttons {
    margin-top: 12px;
    :not(:first-child) {
      margin-left: 12px;
    }

    .mat-raised-button,
    .mat-button {
      padding: 2px 32px;
    }
  }

  .details {
    h3 {
      font-size: 14px;
      line-height: 14px;
      margin: 0;
      padding: 8px 0;
    }
  }

  .details--right {
    margin-left: 24px;
  }
}
