@import 'variables';

:host {
  display: block;
}

.project {
  height: 100%;
  width: 100%;
  background: white;
  border-radius: 0.25rem;

  &.typescript {
    header {
      background: linear-gradient(to left, #09c6f9, #045de9);
    }
  }

  &.python {
    header {
      background: linear-gradient(to left, #dce35b, #45b649);
    }
  }

  &.polymer {
    header {
      background: linear-gradient(to left, #ff1053, #f7accf);
    }
  }

  &.android {
    header {
      background: linear-gradient(to left, #005238, #27a770);
    }
  }

  &.vue {
    header {
      background: linear-gradient(to left, #0bab64, #3bb78f);
    }
  }

  &.react {
    header {
      background: linear-gradient(to left, #009ffd, #2a2a72);
    }
  }

  &.angular {
    header {
      background: linear-gradient(to left, #db3445, #990000);
    }
  }

  &.html,
  &.html5 {
    header {
      background: linear-gradient(to left, #fc4a1a, #f7b733);
    }
  }

  header {
    color: white;
    padding: 8px 16px;
    height: 148px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background: linear-gradient(to left, #864ba2, #6617cb);

    .top {
      width: 100%;
    }

    .name {
      text-align: center;
      margin: 0;
    }
  }

  .details {
    flex: 1;
    padding: 10px;

    .bottom {
      margin-top: 10px;
      padding-top: 8px;
      border-top: 1px solid #e0e0e0;
    }
  }
}

.team {
  .member {
    --avatar-size: 2rem;
    border-radius: 50%;
    color: white;
    text-align: center;
    height: var(--avatar-size);
    width: var(--avatar-size);
    background-color: map-get($mat-blue-gray, 800);

    span {
      font-size: calc(var(--avatar-size) / 2);
      line-height: 1;
      position: relative;
      top: calc(var(--avatar-size) / 4);
    }

    &.william {
      background-color: map-get($mat-gray, 800);
    }

    &.eric {
      background-color: map-get($mat-orange, 600);
    }

    &.adam {
      background-color: map-get($mat-blue, 600);
    }

    &.forest {
      background-color: map-get($mat-green, 700);
    }

    &.brit {
      background-color: map-get($mat-pink, 700);
    }

    &.john {
      background-color: map-get($mat-purple, 700);
    }

    &.dave {
      background-color: map-get($mat-gray, 500);
    }

    &.martin {
      background-color: map-get($mat-light-blue, 400);
    }

    &.rajamu {
      background-color: map-get($mat-yellow, 800);
    }
  }
}

.buttons {
  .link {
    color: map-get($mat-blue, 800);
  }

  .readme {
    color: map-get($mat-purple, 800);
  }

  .code {
    color: map-get($mat-yellow, 800);
  }
}
