@import 'variables';

:host {
  display: block;

  &:nth-child(1n + 0) {
    .project {
      header {
        background: linear-gradient(to left, #24c6dc, #514a9d);
      }
    }
  }

  &:nth-child(2n + 0) {
    .project {
      header {
        background: linear-gradient(to left, #f7ff00, #db36a4);
      }
    }
  }

  &:nth-child(3n + 0) {
    .project {
      header {
        background: linear-gradient(to left, #67b26f, #4ca2cd);
      }
    }
  }

  &:nth-child(4n + 0) {
    .project {
      header {
        background: linear-gradient(to left, #de6262, #ffb88c);
      }
    }
  }

  &:nth-child(5n + 0) {
    .project {
      header {
        background: linear-gradient(to left, #e100ff, #7f00ff);
      }
    }
  }

  &:nth-child(6n + 0) {
    .project {
      header {
        background: linear-gradient(to left, #fc4a1a, #f7b733);
      }
    }
  }

  &:nth-child(7n + 0) {
    .project {
      header {
        background: linear-gradient(to left, #ff5858, #f857a6);
      }
    }
  }

  &:nth-child(8n + 0) {
    .project {
      header {
        background: linear-gradient(to left, #dce35b, #45b649);
      }
    }
  }
}

.project {
  height: 100%;
  width: 100%;
  background: white;
  border-radius: 0.25rem;

  header {
    color: white;
    padding: 8px 16px;
    height: 148px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;

    .top {
      width: 100%;
    }

    .name {
      text-align: center;
      margin: 0;
    }
  }

  .details {
    padding: 10px;

    .bottom {
      margin-top: 10px;
      padding-top: 8px;
      border-top: 1px solid #e0e0e0;
    }
  }
}

.team {
  .member {
    --avatar-size: 2rem;
    border-radius: 50%;
    color: white;
    text-align: center;
    height: var(--avatar-size);
    width: var(--avatar-size);

    span {
      font-size: calc(var(--avatar-size) / 2);
      line-height: 1;
      position: relative;
      top: calc(var(--avatar-size) / 4);
    }

    &:nth-child(1n + 0) {
      background-color: map-get($mat-blue, 800);
    }

    &:nth-child(2n + 0) {
      background-color: map-get($mat-orange, 600);
    }

    &:nth-child(3n + 0) {
      background-color: map-get($mat-blue-gray, 700);
    }

    &:nth-child(4n + 0) {
      background-color: map-get($mat-green, 700);
    }
  }
}
