<div
  class="project mat-elevation-z6"
  [ngClass]="project.stack | join: ' ' | lowercase"
  fxLayout="column"
>
  <header fxLayout="column">
    <div class="top" fxLayout="row" fxLayoutAlign="space-between center">
      <span class="date">
        {{ project.created_at | date }}
      </span>
      <span class="stars" *ngIf="project.star_count">
        <fa-icon [icon]="['fas', 'star']"></fa-icon>
      </span>
    </div>
    <div fxLayout="column" fxLayoutAlign="center" fxFlex="100">
      <h2 class="name" fxLayout="column" fxLayoutAlign="center">
        {{ project.name }}
      </h2>
      <div
        class="stack"
        fxLayout="row"
        fxLayoutAlign="center"
        fxLayoutGap="0.35rem"
      >
        <span>{{ project.stack | take: 3 | join: ' - ' }}</span>
      </div>
    </div>
  </header>
  <section class="details" fxLayout="column" fxLayoutAlign="space-between">
    <p>{{ project.description }}</p>

    <div class="bottom" fxLayout="row" fxLayoutAlign="space-between center">
      <div
        class="team"
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="0.35rem"
      >
        <div
          *ngFor="let member of project.members"
          [ngClass]="member | lowercase"
          class="member"
          [matTooltip]="member"
          matTooltipPosition="after"
        >
          <span>
            {{ member | truncate: 1 }}
          </span>
        </div>
      </div>

      <div class="buttons" fxLayout="row" fxLayoutAlign="center center">
        <a
          *ngIf="project.link"
          class="link"
          [href]="project.link"
          target="_blank"
          rel="noreferrer"
        >
          <button mat-icon-button aria-label="Link">
            <fa-icon [icon]="['fas', 'link']"></fa-icon>
          </button>
        </a>
        <a
          *ngIf="project.readme_url"
          class="readme"
          [href]="project.readme_url"
          target="_blank"
          rel="noreferrer"
        >
          <button mat-icon-button aria-label="Readme">
            <fa-icon [icon]="['fas', 'book-reader']"></fa-icon>
          </button>
        </a>
        <a
          class="code"
          [href]="project.web_url"
          target="_blank"
          rel="noreferrer"
        >
          <button mat-icon-button aria-label="Code">
            <fa-icon [icon]="['fas', 'code']"></fa-icon>
          </button>
        </a>
      </div>
    </div>
  </section>
</div>
